.contact {
    --font-color: #212121;
    --bg-color: #fff;
    background: #26B6CA30;
}

.contact .title {
    color: var(--font-color);
}

.section.contact .container {
    width: 80%;
}

.section.contact .container .card {
    width: 280px;
    border-radius: 10px;
    background: var(--bg-color);

    cursor: pointer;

    display: flex;
    flex-direction: column;

    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact .container .card .top {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact .container .card .top .bg {
    width: 100%;
    height: 120px;
    background: linear-gradient(135deg, #26B6CA 20%, #30B9C7 70%, #B1D89E 100%);
    overflow: hidden;
}

.contact .container .card .top .dp {
    position: absolute;
    transform: translatey(50%) scale(1.3);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--bg-color);

    transition: all 0.3s;
}

.contact .container .card .social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    padding-top: 1rem;
    padding-right: 0.5rem;

    transition: all 0.5s;

    z-index: 1;
}

@media (min-width: 720px) {
    .contact .container .card .social {
        transform: translatex(20%);
    }
}

.contact .container .card .social i {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #30B9C7;

    transition: all 0.3s;
}

.contact .container .card .social i:hover {
    color: var(--bg-color);
    background: #30B9C7;
}

.contact .container .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contact .container .card .bottom {
    margin-bottom: -1.5rem;
    padding-left: 1rem;
    transform: translatey(-120%);

    color: var(--font-color);
}

.contact .container .card .bottom .name {
    font-size: 1.1rem;
    font-weight: 700;
}

.contact .container .card .bottom .pos {
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.contact .container .card:hover .top .dp {
    transform: translatey(50%) scale(1.35);
}

.contact .container .card:hover .social {
    transform: translatex(0);
}

@media (max-width: 500px) {
    .section.contact .container {
        width: 85%;
    }

    .contact .container .card {
        width: 300px;
    }

    .contact .container .card .social {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
        margin-top: 1.5rem;
        padding-top: 1rem;
        padding-right: 0.7rem;

        transition: all 0.5s;

        z-index: 1;
    }

    .contact .container .card .social i {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .contact .container .card .bottom .name {
        font-size: 1rem;
        font-weight: 700;
    }

    .contact .container .card .bottom .pos {
        font-size: 0.9rem;
        margin-top: 0.5rem;
    }
}