/* Footer */

.footer {
  background: #fff;
  margin-top: -1rem;
  border-radius: 1.5rem;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .logo {
  height: 100px;
}

.footer .logo.mec-logo {
  height: 70px;
}

.footer .logo img {
  object-fit: cover;
  height: 100%;
}

.footer .content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  color: black;
}

.footer .content .social {
  display: flex;
  gap: 0.7rem;
  font-size: 1.2rem;
}
.fab.fa-twitter {
  font-family: sans-serif;
}
.fab.fa-twitter::before {
  content: "𝕏";
  font-size: 1.2em;
}
.footer .content .social i {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s;
}

.footer .content .social i:hover {
  background: linear-gradient(
    135deg,
    rgba(198, 48, 201, 0.5),
    rgba(51, 157, 220, 0.5)
  );
  color: #fff;
}

/* .footer .content .social i.fa-instagram:hover {
  background: linear-gradient(
    135deg,
    rgba(198, 48, 201, 0.5),
    rgba(51, 157, 220, 0.5)
  );
}

.footer .content .social i.fa-twitter:hover {
  background: linear-gradient(
    135deg,
    rgba(198, 48, 201, 0.5),
    rgba(51, 157, 220, 0.5)
  );
}

.footer .content .social i.fa-linkedin-in:hover {
  background: linear-gradient(
    135deg,
    rgba(198, 48, 201, 0.5),
    rgba(51, 157, 220, 0.5)
  );
} */

.footer .content .text {
  font-weight: 500;
}

.footer .content .text i {
  width: 2rem;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    rgba(198, 48, 201, 0.7),
    rgba(51, 157, 220, 0.6)
  );

  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media (max-width: 700px) {
  .footer .logo {
    height: 70px;
  }

  .footer .logo.mec-logo {
    height: 50px;
  }

  .footer .content {
    gap: 0.3rem;
    font-size: 0.8rem;
  }

  .footer .content .social {
    gap: 0.4rem;
    font-size: 1rem;
  }
}

@media (max-width: 540px) {
  .footer .logo {
    height: 50px;
  }

  .footer .logo.mec-logo {
    height: 40px;
  }
}

@media (max-width: 440px) {
  .footer {
    flex-wrap: wrap;
    padding: 1.5rem 1.2rem;
    gap: 1.5rem;
  }

  .footer .logo {
    order: 1;
  }

  .footer .content {
    order: 2;
    gap: 0.3rem;
    font-size: 0.8rem;
    margin: auto auto 0 auto;
  }
}
