.navbar {
  --bg: transparent;
  --text: #fff;
  --color: #26B6CA;
  --opacity: 0;

  position: sticky;
  top: 0;
  z-index: 100;

  background: var(--bg);
  padding: 0 2rem;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.5s;

}

.scrolled {
  --bg: #fff;
  --text: #212121;
  --opacity: 1;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar .logo {
  opacity: var(--opacity);
  position: absolute;
  left: 2rem;
  width: 50px;
  height: 50px;
  transition: opacity 0.3s;
}

.navbar .logo img {
  height: 100%;
  object-fit: cover;
}

.navbar .icon {
  display: none;
}

.navbar .excel-text {
  display: none;
}

.navbar .menu {
  display: flex;
  gap: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.85rem;
}

.navbar .menu .item {
  color: var(--text);
  cursor: pointer;
  transition: all 0.3s;
}

@media (max-width: 850px) {
  .navbar {
    --bg: #212121;
    height: 3.5rem;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .scrolled {
    --bg: #fff;
  }

  .navbar .logo {
    opacity: var(--opacity);
    position: static;
    width: 40px;
    height: 40px;
  }

  .navbar .icon {
    -webkit-tap-highlight-color: transparent;
    color: var(--color);
    cursor: pointer;
    font-size: 1.5rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar .excel-text {
    opacity: var(--opacity);
    position: absolute;
    left: 50%;
    height: 95%;
    padding: 0 30px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg);
    transition: all 0.5s;
  }

  .navbar .excel-text img{
    object-fit: cover;
    width: 100px;
  }

  .navbar .menu {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    top: 0;
    z-index: -1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #212121;
    background: #fff;
    transform: translate(-50%, -120%);
    transition: all 0.5s;
  }

  .navbar .menu .item {
    color: #212121;
    font-size: 1rem;
  }
}

@media (min-width: 850px) {

  .navbar .menu .item:hover {
    color: var(--color);
  }

  .navbar .menu .item.active {
    color: var(--color);
    position: relative;
  }

  .navbar .menu .item.active::before {
    position: absolute;
    left: 50%;
    transform-origin: center center;
    content: '';
    height: 3px;
    border-radius: 3px;
    width: 20px;
    background: var(--color);
    transition: all 0.3s;
    transform: translate(-50%, -8px) scaleX(0);
    animation: expand 0.2s linear 1 forwards;
  }
}

@keyframes expand {
  from {
    transform: translate(-50%, -8px) scaleX(0);
  }

  to {
    transform: translate(-50%, -8px) scaleX(1);
  }
}